*{
    margin: 0;
    padding: 0%;
    background: #5E215E;
    box-sizing: border-box;
}

.container{
   background-color:floralwhite;
   padding: 0px;
   margin-top: 0px;


   font-family: 'fjord';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 25px;
   text-align: justify;
}

.logo{
    margin-left: 15px;
    margin-bottom: 10px;
}

.tombol{
    background-color: darkgray;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0px;
}

.container1{
    text-align: center;
    background-color: darkgray;
    margin-bottom: 5px;
}

.halaman{
    background-color: darkgray;

}

.login{
    text-align: center;
    background-color: floralwhite;
    margin-bottom: 40px;
    margin-top: 10px;
}

.staff{
    background-color: floralwhite;
}

.mahasiswa{
    background-color: floralwhite;
}

.gambar{
    background-color: floralwhite;
}

.berita{
    background-color: floralwhite;
    text-align: center;
    margin-bottom: 20px;
}

.berita1{
    background-color: floralwhite;
}

.kontak{
    background-color: floralwhite;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    margin: auto;
}

@media screen and (max-width:1024px) {
    .kontak{
        width: 60%;
    }
}

@media screen and (max-width:425px) {
    .kontak{
        width: 80%;
    }
}

.bantuan{
    background-color: floralwhite;
    margin-top: 20px;
}

.menu1{
    background-color: floralwhite;
}

.menu2{
    background-color: floralwhite;
}

.menu3{
    background-color: floralwhite;
  
}

.menu4{
    background-color: floralwhite;
}
    



.link{
    background-color: floralwhite;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0px;
}

.halaman1{
    background-color: floralwhite;
}

.navbar{
    background-color: floralwhite;
}

.kotak_staff{
    background-color: floralwhite;

}

.gambar1{
    background-color: floralwhite;
    
}

.foto{
    text-align: center;
    width: 100%;
}


@media screen and (max-width:1024px) {
    .gambar1{
        width: 50%;
    }
}

@media screen and (max-width:425px) {
    .gambar1{
        width: 70%;
    }
}
 